<div class="homy container-fluid" data-ng-controller="HomeController">
	<div class="row-fluid">
		<div class="slider container-fluid">
			<div>
				<p>Job hunting used to be stressful</p>
				<p>...well, not anymore</p>
			</div>
		</div>
		<div class="container">
			<div id="home_div">
				<div class="list-group" data-ng-controller="JobsController" data-ng-init="find()">
					<div class="search">
		        		<input type="text" ng-model="search.$" placeholder="Enter search keyword..."/>
		    		</div>
		    		<!-- <ul class="nav nav-tabs" role="tablist">
		    			<li class="active"><a href="#latestjobs" role="tab" data-toggle="tab">Jobs</a></li>
					  	<li><a href="#specialization" role="tab" data-toggle="tab">Specialization</a></li>
					</ul> -->
					<!-- <div class="tab-content"> -->
					<!-- 	<div class="tab-pane active" id="latestjobs"> -->
					<div>
			        	<a data-ng-repeat="job in jobs | filter:search | limitTo:4" data-ng-href="#!/jobs/s/{{job._id}}" id="jobs_home" class="list-group-item col-md-6">
				        	<h4>{{job.title}} at {{job.employer.companyName}}</h4>
				        	<p>{{job.description}}</p>
			       		</a>
			       	</div>
			       	<!-- <div class="tab-pane group specs" id= "specialization"> -->
			       	<div class="group specs">
				   		<ul>
				   			<li><a href="#">Accounting/Audit/Tax</a></li>
				   			<li><a href="#">Administration &amp; Office Support</a></li>
				   			<li><a href="#">Banking / Finance / Insurance</a></li>
				   			<li><a href="#">Building Design/Architecture</a></li>
				   			<li><a href="#">Construction</a></li>
				   			<li><a href="#">Consulting/Business Strategy &amp; Planning</a></li>
							<li><a href="#">Creatives</a></li>
							<li><a href="#">Customer Service</a></li>
							<li><a href="#">Education/Teaching/Training</a></li>
							<li><a href="#">Engineering</a></li>
							<li><a href="#">Executive / Top Management</a></li>
							<li><a href="#">Healthcare / Pharmaceutical</a></li>
							<li><a href="#">Hospitality / Leisure / Travels</a></li>
							<li><a href="#">Human Resources</a></li>
							<li><a href="#">Information Technology</a></li>
							<li><a href="#">Legal</a></li>
							<li><a href="#">Logistics / Transportation</a></li>
							<li><a href="#">Manufacturing / Production</a></li>
							<li><a href="#">Marketing / Advertising / Communications</a></li>
							<li><a href="#">NGO/Community Services &amp; Dev</a></li>
							<li><a href="#">Oil&amp;Gas / Mining / Energy</a></li>
							<li><a href="#"><a href="#">Project / Programme Management</a></li>
							<li><a href="#">QA&amp;QC / HSE</a></li>
							<li><a href="#">Real Estate / Property</a></li>
							<li><a href="#">Research</a></li>
							<li><a href="#">Sales/Business Development</a></li>
							<li><a href="#">Supply Chain / Procurement</a></li>
				   		</ul>
				   	</div>	
			   		<!-- </div> -->
			   	</div>
		   	</div>
		</div>   	
		<div class= "employers">
			<div class="container">
				<p>For Employers: Reach more Nigerian Jobseekers than any other service.</p>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="myfooter">
					<div class="col-md-3">
						<img src="/modules/core/img/logo-footer.png">
						<p>JobseekerApp is a resource for the unemployed proffesionals in Nigeria. It is also one of africa's fast growing job board with over 80,000 members in over 15 countries and territorries around the globe.</p>
					</div>
					<div class="col-md-3"><p>For Candidates: You Can</p>
						<ul>
							<li>Find Jobs</li>
							<li>Edit Your Profile</li>
						</ul>
					</div>
					<div class="col-md-3"><p>For Employers: You Can</p>
						<ul>
							<li>Post A Job</li>
							<li>Advertise</li>
						</ul>
					</div>
					<div class="col-md-3">
						<p>copyright&copy;2014</p>
							<p> Jumoke O
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>



