<div class="homy container-fluid" data-ng-controller="HomeController">
	<div class="row-fluid">
		<div class="slider container-fluid">
			<div>
				<p>Job hunting used to be stressful</p>
				<p>...well, not anymore</p>
			</div>
		</div>
		<div class="container">
			<div id="home_div">
				<div class="list-group" data-ng-controller="JobsController" data-ng-init="find()">
					<div>
						<div class="search col-md-offset-2 col-md-8">
			        		<input type="text" ng-model="search.$" placeholder="Enter search keyword..."/>
			    		</div>
			        	<a data-ng-repeat="job in jobs | filter:search | limitTo:4" data-ng-href="#!/jobs/{{job._id}}" id="jobs_home" class="list-group-item col-md-6" style="overflow: hidden">
				        	<h4>{{job.title}} at {{job.employer.companyName}}</h4>
				        	<p>{{job.description}}</p>
			       		</a>
			       	</div>
			    </div>
		   	</div>
		</div>   	
		<div class= "employers">
			<div class="container">
				<p class="text-center">For Employers: Reach more Nigerian Jobseekers than any other service.</p>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="myfooter">
					<div class="col-md-3">
						<img src="/modules/core/img/logo-footer.png">
						<p>JobseekerApp is a resource for the unemployed proffesionals in Nigeria. It is also one of africa's fast growing job board with over 80,000 members in over 15 countries and territorries around the globe.</p>
					</div>
					<div class="col-md-3"><p>For Candidates: You Can</p>
						<ul>
							<li>Find Jobs</li>
							<li>Edit Your Profile</li>
						</ul>
					</div>
					<div class="col-md-3"><p>For Employers: You Can</p>
						<ul>
							<li>Post A Job</li>
							<li>Advertise</li>
						</ul>
					</div>
					<div class="col-md-3">
						<p>copyright&copy;2014</p>
							<p> Jumoke O
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>



