@media screen and (max-width: 900px) {
	.search{
		width: 70%;
		top: 10px;
		right: 10px;
		position: relative;
		margin-bottom: 0;

	}
	.slider p{
	color: #fff;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	}

	.slider{
		height: 100px ;

	}

	.formBox{
		width: 60%;
	}

	.my_actualForm{
		width: 60%;
	}
}

.dropdown-menu {
        .border-radius(0px);
}
.btn-custom {
  background-color: hsl(163, 100%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3dffc8", endColorstr="#00513a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3dffc8), to(#00513a));
  background-image: -moz-linear-gradient(top, #3dffc8, #00513a);
  background-image: -ms-linear-gradient(top, #3dffc8, #00513a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3dffc8), color-stop(100%, #00513a));
  background-image: -webkit-linear-gradient(top, #3dffc8, #00513a);
  background-image: -o-linear-gradient(top, #3dffc8, #00513a);
  background-image: linear-gradient(#3dffc8, #00513a);
  border-color: #00513a #00513a hsl(163, 100%, 4.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
}


.group:after, .group:before{
  content: ".";
  display: table;
}

.group:after {
  clear: both;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body{
	background-color: #F0F0E8;
}

header .navbar-brand{
	height: 70px;
}

.navbar-brand img{
	width: 45%;
}

.navbar-brand a img{

	width: 50%;
	height: 61px;

}

.container-fluid{
	margin: 0;
	padding: 0;
	border: 0;
}

img{
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.slider{
	height: 250px;
	width: 100%;
	padding: 50px 0 0 0;
	background: url("/modules/core/img/bg.jpg");
	margin-bottom: 150px;
}

.slider img{
	max-width: 100%; 
	height: auto;
}


.slider p{
	color: #fff;
	text-align: center;
	font-size: 35px;
	font-weight: 700;
}

.search{
	position: absolute;
	top: 200px;
	right: 310px;
	background: #1fa67a;
	width: 800px; 
	z-index: 10;
	height: 100px;
}

.home_div{
	min-height: 50%;
	border: 1px solid blue;
	width: 200px;
}

#jobs_home{
	height: 200px;

}



.employers{
	background-color: #1fa67a;
	/*#339966;*/
	padding: 25px 0; 
}

.employers p{
	color: #fff;
	font-size: 25px;
	width: 75%;
}

footer{
	background-color: #000;
	margin: 0;
	padding: 0;
	color: #555;
	padding-bottom: 30px;
}

.specs li {
display: inline-block;
width: 300px;
margin-right: 5px;
text-align: left;
padding-bottom: 0.273em;
}

.specs li a{
	color: #000;
}

.specs li a:hover{
	color: #339966;
}

.myfooter li{
	list-style: none;
}
.myfooter{
	padding-top: 20px;
}

footer p{
	font-size: 12px;
}

footer img{
	width: 100px;
	height: auto;
}

html{
	box-sizing: border-box;
}


#signupForm .input-group {
    margin-bottom: 20px;
}

.btn-success {
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}


.formBox{
	margin: 60px 0;
	
}
.mywrapper{
	height: 80%;
	width: 800px;
	margin: 0 auto;
	border: 1px solid #dfdfdf;
}

.my_actualForm{
	background: #fefefe;

}
.signin_box {
	width:800px;
}
.block-wrapper .title{
	padding: 15px 30px;
	background: #F0F0E8;
	border-bottom: 2px solid #009966;
}

.submitForm a{
	color: #009966;
}

.input-group{
	margin-bottom: 25px;
}

.headerhover a span:hover, .caret:hover, .headehover li a:hover{
	color: #1fa67a;
}

.headerhover ul li a:hover{
	background-color: #1fa67a;
}



.panel-body a {
color: rgb(208, 69, 38);
text-decoration: none;
outline: 0;
line-height: inherit;
}

html * {
box-sizing: border-box;
}

li{
	list-style: none;
}

.list-group, .specs, .panel{
	text-transform: capitalize; 
	border: 1px solid green;
}


.home_div li{
position: absolute;
left: -50px;
top: 15px;
font-size: 45px;
}

.list-group-item {
border: 1px solid green;
}

.on_search_div{
	position: absolute;
	left: 400px;
	top: 350px;
	border: 1px solid red;
	font-size: 45px;
	z-index: 50;
}
















/***************
** Nav Bar Color
****************/

.navbar-inverse .navbar-nav > li > a:hover {
	background-color:#1fa67a;
}
.navbar-inverse {
	background-color: #777 !important;
	background-image: none;
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-brand, .navbar-nav > li > a {
	text-shadow: none;
}

.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #1fa67a;
	color: #fff;
 
}
