<section data-ng-controller="JobsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Jobs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="job in jobs" data-ng-href="#!/jobs/{{job._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="job.created | date:'medium'"></span>
				by
				<span data-ng-bind="credentials.companyName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="job.title"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!jobs.$resolved || jobs.length">
    	No Jobs yet, why don't you <a href="/#!/jobs/create">create one</a>?
    </div>
</section>



<!-- 
<section data-ng-controller="ArticlesController" data-ng-init="find()">
    <ul class="unstyled">
        <li data-ng-repeat="article in articles">
            <span>{{article.created | date:'medium'}}</span> /
            <span>{{article.user.name}}</span>
            <h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
            <div>{{article.content}}</div>
        </li>
    </ul>
    <h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</section> -->

<!-- 
<div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" required id="companyName" name="companyName" class="form-control" data-ng-model="credentials.companyName" placeholder="Company Name">
                </div> -->